.treeview .list-group-item {
	cursor: pointer;
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}

.treeview span.icon {
	width: 12px;
	margin-right: 5px;
}

.treeview .node-disabled {
	color: silver;
	cursor: not-allowed;
}

.indentation {
	margin-left: 14px;
}

.display-block {
	display: inline-block !important;
}

.list-group .list-group-item .title-edit {
	width: 120px;
	padding: 5px 5px;
}

.list-group .list-group-item.new-item {
	border: 1px dashed grey;
	font-weight: lighter;
	font-style: italic;
}
